{% extends 'base.html'  %}

{% block content %}
<h1>Stories</h1>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
      if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-success" type="submit">Post Story</button>
</form>

<div>
  {% for tweet in tweets %}
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title text-info">Posted by
        {{tweet.user.username}}
        {% if session['user_id'] == tweet.user_id %}
        <form style="display:inline;" action="/tweets/{{tweet.id}}" method="POST">
          <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
        </form>
        {% endif %}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">author: {{tweet.author}}</h6>
      <p class="card-text">
        <a href={{tweet.url}}>{{tweet.text}}</a> ({{tweet.url}})
      </p>

    </div>
  </div>

  {%  endfor %}
</div>


<div>
  {% for article in articles %}
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title text-info">Posted by
        {{article.author}}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">author: {{article.author}}</h6>
      <p class="card-text">
        <a href={{article.url}}>{{article.title}}.</a> URL: ({{article.url}})
      </p>

    </div>
  </div>

  {%  endfor %}
</div>

{% endblock %}